.Navigation {
  margin: 8px 0 16px;

  &__link {
    text-decoration: none;
    padding: 8px;
    margin: 8px;
    border-radius: 100px;
    border: none;
    font-size: 1.25em;

    color: $grey;
    transition: color 250ms ease-in-out;

    &--selected {
      color: $beige;
      transition: color 250ms ease-in-out;
    }
  }
}