.Project {
  width: 99vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 35% 1fr;
  overflow-x: hidden;

  &__details {
    padding: 8px;
    background: $white;
    color: $dark;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    .Project__description {
      line-height: 2em;
    }
  }

  &__image {
    height: 100%;
    filter: brightness(0.6);
  }

  &__actions {
    margin: 16px;
    padding: 16px;
    display: flex;
    justify-content: space-around;

    .Project__action {
      border-radius: 100px;
      border: none;
      background: $darkBeige;
      color: $dark;
      text-decoration: none;
      padding: 8px 16px;
      font-size: 1.25em;
      transition: background-color 250ms ease-in-out;

      &:hover {
        background-color: $beige;
        transition: background-color 250ms ease-in-out;
      }

      &--secondary {
        background-color: $dark;
        color: $white;

        &:hover {
          background-color: $grey;
        }
      }
    }
  }
}